.App {
    text-align: center;
    background-color: #9B9FFA;
  }

  .formbutton {
    color: whitesmoke;
    background-color: black;
    border-color: whitesmoke;
    border-style: dotted;
  }

  body {
    border-color: black;
  }
  
  img {
    border-radius: 50%;
  }

  .createlog{
    background-color: whitesmoke;
    color: black;
    border-color: black;
  }

  .petheader {
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: "https://i.imgur.com/CSrJcNh.gif";
  }

  h1 {
    background-color: whitesmoke;
    color: black;
  }

  h2 {
    background-color: rgb(16, 16, 16);
    border-radius: 25%;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: pink;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  